.App {
  text-align: center;
  background-color: black;
}

.memes span {
  position: absolute;
  width: 100%;
  left: 0px;
  font-size: 70px;
  margin-top: 50px;    
  color: white;
}
.memes span:nth-child(2) {
  margin-top: 90%;
}

.memes img {
  width: 100%;
}

.memes {
  background: black;
}
